@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------*/
body {
  font-family: "Playfair Display";
  font-size: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ffc600;
  background: url("https://images.unsplash.com/photo-1516916759473-600c07bc12d4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmFuZHMlMjAyMDAweDIwMDB8ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 0 50px 0;
}
.wrapper::before {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.5882352941);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#bands {
  position: relative;
  z-index: 100;
  list-style: inside square;
  font-size: 20px;
  width: 500px;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
}

#bands li {
  border-bottom: 1px solid #ffffff;
  padding: 20px;
  font-size: 25px;
  background: rgba(255, 255, 255, 0.827);
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 7px 6px 0 2px rgba(210, 30, 30, 0.84), 16px 16px 2px 2px rgba(48, 7, 7, 0.8);
}

#bands li:last-child {
  border-bottom: 0;
}

a {
  color: #ffc600;
  text-decoration: none;
}