@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------*/
body {
  font-family: "Playfair Display";
  font-size: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ffc600;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 10px;
}

body {
  background: #ffc600;
  font-family: "helvetica neue";
  font-weight: 200;
  font-size: 20px;
}

.title {
  font-size: 5.5rem;
  color: #1c1f25;
  font-weight: 600;
  font-style: oblique;
  text-shadow: -20px 1.875rem 0px #fff, 2px 3.75rem 0px #bd7e4a;
  margin-bottom: 1.5625rem;
}

.words {
  width: 90vw;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem 1rem 5rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background-size: 100% 3rem;
  position: relative;
  line-height: 3rem;
}

p {
  margin: 0 0 3rem;
}

.words:before {
  content: "";
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}