@import "_nullstyle";
@import "_mixin";
//under development
// promixes ------

// Don`t forgot cascadeee ------
html {
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #193549;
    // background-size: cover;
    justify-content: center;
    align-items: center;
}

[class*="__container"] {
    // @include adaptive-value(padding-left, 15, 40, $minWidth, $maxWidth);
    //@include adaptive-value(padding-right, 15, 40, $minWidth, $maxWidth);
}
